<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufla.lfapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lfapp_icon"
        android:label="LFApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.machine.fsa.EditFiniteStateAutomatonActivity" />
        <activity
            android:name=".activities.grammar.GrammarActivity"
            android:label="LFApp"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.InfoActivity"
            android:label="LFApp" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/lfapp_about"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.GrammarActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.menu.MenuActivity"
            android:label="@string/lfapp_menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.GrammarActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.IdGrammarActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.DerivationMoreLeftActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.RemoveInitialSymbolRecursiveActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.EmptyProductionActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.ChainRulesActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.NoTermSymbolsActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.NoReachSymbolsActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.ChomskyNormalFormActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.menu.ChomskyNormalFormMenuActivity"
            android:label="@string/lfapp_cnf">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.RemoveLeftDirectRecursionActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.RemoveLeftRecursionActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.menu.RemoveLeftRecursionMenuActivity"
            android:label="@string/lfapp_left_recursion">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.menu.GreibachNormalFormMenuActivity"
            android:label="@string/lfapp_gnf">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.CYKActivity"
            android:label="LFApp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.GreibachNormalFormActivity"
            android:label="@string/lfapp_gnf_8_8">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.algorithms.GreibachNormalFormTerraActivity"
            android:label="@string/lfapp_gnf_8_8">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.menu.MenuActivity" />
        </activity>
        <activity
            android:name=".activities.grammar.HistoricalGrammarsActivity"
            android:label="@string/lfapp_history">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.grammar.GrammarActivity" />
        </activity>
        <activity
            android:name=".activities.machine.fsa.HistoricalAutomataActivity"
            android:label="@string/lfapp_history">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.machine.fsa.EditFiniteStateAutomatonActivity" />
        </activity>
        <activity
            android:name=".activities.machine.HistoricalGraphActivity"
            android:label="@string/lfapp_history">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.machine.HistoricalGraphActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.machine.fsa.RegexToAutomataActivity"
            android:label="@string/title_activity_regex_to_automata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.machine.fsa.ConvertAFNDInAFDActivity" />
        <activity
            android:name=".activities.machine.fsa.AutomatonMinimizationActivity"
            android:label="@string/title_activity_automaton_minimization"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.machine.fsa.ItemAutomatonActivity" />
        <activity android:name=".activities.machine.fsa.ItemGraphActivity" />
        <activity android:name=".activities.machine.ItemDerivationTreeActivity" />
        <activity android:name=".activities.grammar.algorithms.AmbiguityVerificationActivity" />
        <activity android:name=".activities.machine.pda.EditPushdownAutomatonActivity" />
        <activity android:name=".activities.machine.tm.EditTuringMachineActivity" />
        <activity android:name=".activities.grammar.algorithms.cfgtopda.CFGToPDAActivity" />
        <activity
            android:name=".activities.grammar.algorithms.cfgtopda.CFGToPDAStage1Activity"
            android:label="@string/title_activity_cfgto_pdastage1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.grammar.algorithms.cfgtopda.CFGToPDAStage2Activity"
            android:label="@string/title_activity_cfgto_pdastage2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.grammar.algorithms.cfgtopda.CFGToPDAStage3Activity"
            android:label="@string/title_activity_cfgto_pdastage3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.grammar.algorithms.cfgtopda.CFGToPDAStage4Activity" />
        <activity android:name=".activities.machine.pda.pdatocfg.PDAToCFGStage1Activity" />
        <activity android:name=".activities.machine.pda.pdatocfg.PDAToCFGStage2Activity" />
        <activity android:name=".activities.machine.pda.pdatocfg.PDAToCFGStage3Activity" />
        <activity android:name=".activities.machine.pda.pdatocfg.PDAToCFGStage4Activity" />
        <activity android:name=".activities.machine.pda.pdatocfg.PDAToCFGStage5Activity" />
        <activity android:name=".activities.machine.fsa.ProcessWordFSAActivity" />
        <activity android:name=".activities.machine.pda.ProcessWordPDAActivity" />
        <activity android:name=".activities.machine.tm.ProcessWordALLActivity" />
        <activity android:name=".activities.machine.tm.ProcessWordTMActivity" />
        <activity android:name=".activities.machine.tm.EditLinearBoundedAutomatonActivity" />
        <activity android:name=".activities.machine.tm.EditTMMultiTracksActivity" />
        <activity android:name=".activities.machine.tm.EditTMMultiTapesActivity" />
        <activity android:name=".activities.machine.tm.ProcessWordTMMultiTapeActivity" />
        <activity android:name=".activities.machine.tm.ProcessWordTMMultiTrackActivity" />
        <activity android:name=".activities.machine.tm.ProcessWordTMEnumActivity" />
        <activity android:name=".activities.machine.tm.EditTMEnumActivity"></activity>
    </application>

</manifest>