<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ufla.lfapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/lfappicon"
        android:label="LFApp"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activities.MainActivity"
            android:label="LFApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.OutActivity"
            android:label="LFApp">

        </activity>

        <activity
            android:name=".activities.InfoActivity"
            android:label="LFApp">

        </activity>

        <activity
            android:name=".activities.AboutActivity"
            android:label="LFApp">
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>